.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.search {
    padding-top: 18px;
    padding-bottom: 25px;
}

.inputCity {
    font-size: 20px;
}